    html {
      box-sizing: border-box;
      background:#1c1f22;
      font-family:'helvetica neue';
      font-size: 20px;
      font-weight: 200;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    main{
    	width: 70%;
	  position: relative;
    }
    input {
      background-color: #e53232;
      text-align: left;
      width: 50%;
      top: 3%;
      left: 10%;
      padding:20px;
      position: fixed;
      /*background-color: #e56b32;*/
      border-bottom-right-radius: 2px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border-bottom-left-radius:2px;
      box-sizing: border-box;
	  border: 0;
	  color: #ffffff;
    }

    .search-form {
      max-width:400px;
      margin:50px auto;
    }

    .suggestions {
      width: 60%;
      margin: 0;
      padding: 0;
      position: relative;
      /*perspective:20px;*/
    }

    .suggestions2 {
      width: 60%;
      margin: 0;
      padding: 0;
      position: relative;
      /*perspective:20px;*/
    }

    .suggestions li {
    	align-self: center;
      background-color: rgb(28, 31, 34);
      list-style: none;
      border-bottom: none;
      box-shadow: 3px -1px 0px 2px rgba(0, 0, 0, 0.14);
      margin-left:0px;
      padding:10px;
      transition:background 0.2s;
      display:block;
      position: relative;
      left:  0%;
      width: 160%;
      margin-top: 0 ! important;
      text-transform: capitalize;
    	max-width: 200%;
    	overflow: hidden;
      /*border-bottom: 1px solid rgba(0, 0, 0, 0.14);    
 		*/   
    }

	.suggestions2 li {
      background-color: rgb(28, 31, 34);
      list-style: none;
      border-bottom: none;
      box-shadow: 3px -1px 0px 2px rgba(0, 0, 0, 0.14);
      margin-left:0px;
      padding:10px;
      transition:background 0.2s;
      display:block;
      position: relative;
      left:  0%;
      width: 160%;
      margin-top: 0 ! important;
      align-self: center;
      text-transform: capitalize;
    	max-width: 200%;
    	overflow: hidden;
      /*border-bottom: 1px solid rgba(0, 0, 0, 0.14);    
 		*/   
    }

   /* .suggestions li:nth-child(even) {
      transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
      background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
    }
    .suggestions li:nth-child(odd) {
      transform: perspective(100px) rotateX(-3deg) translateY(3px);
      background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
    }
    */
    /*
    li{
    	max-width: 200%;
    	overflow: hidden;
    	align-self: center;
    }*/
    span.name {
      font-size: 15px;
    }
    a{
    	max-width: 70% !important;
    	font-size: 16px;
    	text-decoration: none;
    }
    a:link {
    	color: #ffffff;
	}

	/* visited link */
	a:visited {
    color: green;
	}
	span{
		position: relative;
		color: #bbbcbd;
	}
	footer{
		font-size: 16px;
		color: #eee;
		position: fixed;
		bottom: 2px;
		width: 100%;
		min-height: 20px;
		z-index: 6;
		background-color: #000000;
	}
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    	color: #eee;
    	opacity: 0.3; /* Firefox */
	}
	#death{

		position: fixed;
		color: #eee;
		right: 0px;
		bottom: 0px;
		z-index: 7;
		background-color: #bbbcbd;
	}
	ul{
		left: 25%;
		align-self: center;
		position: relative;
	}
	nav{
		top:113%;
		position: relative;
	}
	#play{
		top: 0px;
		right: 0px;
		background-color: #bbbcbd;
		z-index: 3;
		position: fixed;
	}
	#welcome{
		margin-left: 3px;
		padding: 2px;
	}
	#useritems{
		bottom: 9%;
		left: 0px;
		position: fixed;
		z-index: 30;
		max-height: 400px;
		background-color: #ffffff;
		visibility: hidden;
	}
	#usernav{
		border: 0;
		background-color: #000000;
		color: #ffffff;
	}
	.show {
	    display: block;
	    -webkit-animation: fadeIn .4s;
	    animation: fadeIn .4s;
	}

	/* Add animation (fade in the popup) */
	@-webkit-keyframes fadeIn {
	    from {opacity: 0;} 
	    to {opacity: 1;}
	}

	@keyframes fadeIn {
	    from {opacity: 0;}
	    to {opacity:1 ;}
	}

	#kits{
		top:3%;
		left: 0px;
		width: 70%;	
		display: block;
	}
	#twis{
		top:3%;
		left: 0px;
		width: 70%;	
		display: block;
	}
	#tsearch{
		z-index: 5;
		border:0;
		border-radius: 100%;
		position: fixed;
		top: 4%;
		right: 38.5%;
		width: 40px;
		height: 40px;
	}
	.main{
		height: 70%;
	}
	#conainer{
		height: 40px;
		overflow: scroll;
	}
	.kitbutt{
		color: #ffffff;
		background-color: #1c1f22;
		border:0;
	}
	#myvid{
		z-index: 30;
	}
	#useritems ul li{
		list-style: none;
		position: relative;
		left: 0px;
	}